absl-py
arrow
asgiref
asttokens
astunparse
attrs
autopep8
backcall
boto3
botocore
cachetools
certifi
charset-normalizer
colorama
cycler
decorator
Django
django-cors-headers
django-filter
django-storages
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
executing
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
inflection
ipython
jedi
jmespath
joblib
jsonschema
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
networkx
numpy
oauthlib
opencv-python
opt-einsum
packaging
parso
pickleshare
Pillow
prompt-toolkit
protobuf
pure-eval
pyasn1
pyasn1-modules
pycodestyle
Pygments
PyJWT
pymemcache
pymongo
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
s3transfer
scikit-image
scikit-learn
scipy
six
sklearn
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
toml
traitlets
typing
typing_extensions
tzdata
uritemplate
urllib3
wcwidth
Werkzeug
wrapt
