arrow
black
boto3
botocore
Django
django-cors-headers
django-filter
django-storages
djangorestframework
djangorestframework-simplejwt
drf-spectacular
flake8
keras
matplotlib
numpy
opencv-python
Pillow
pymemcache
requests
scikit-image
scikit-learn
tensorflow